/* Additional classes for CSS styling */
.intro {
  
  transform: translateY(-20%);
    -webkit-animation: bummer 1.5s;
    animation: bummer 1.5s;
    -webkit-transform: scale(0,0); 
    transform: scale(0,0);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes bummer {
    0% {
        opacity:0;
    }
    100% {
        -webkit-transform: scale(1,1); 
        opacity:1;
    }
}

@keyframes bummer {
    0% {
        opacity:0;
    }
    100% {
        transform: scale(1,1); 
        opacity:1;
    }
}

.hello {
  color: #E7B909;
  font-family: "Oswald";
  font-size: 65px;
  text-transform: uppercase;
}

.subhello {
  color: white;
  font-family: "danielbd";
  font-size: 20px;
  opacity: .9;
}

.mainImage {
    background: url(../assets/bg-all-dim-46percent-min.jpg) no-repeat center top; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;

    background-position: absolute;
}

.midPage {
  background-position: absolute;
  height: 500px;
  background: #323232 none repeat center top;
}

.aboutMe {
  background-position: absolute;
  padding-bottom: 30px;
}

.bottomContainer {
    -moz-animation-name: easeLower;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease;
    -moz-animation-duration: 1.5s;

    -webkit-animation-name: easeLower;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    -webkit-animation-duration: 1.5s;

    animation-name: easeLower;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-duration: 1.5s;
}

@-moz-keyframes easeLower {
    0% {
        -moz-transform: translateY(400px);
        opacity:0;
    }
    100% {
        -moz-transform: translateY(0);
        opacity:1;
    }
}
@-webkit-keyframes easeLower {
    0% {
        -webkit-transform: translateY(400px);
        opacity:0;
    }
    100% {
        -webkit-transform: translateY(0);
        opacity:1;
    }
}
@keyframes easeLower {
    0% {
        transform: translateY(400px);
        opacity:0;
    }
    100% {
        transform: translateY(0);
        opacity:1;
    }
}
}

.aboutMeContain {
  padding: 20px 20px 20px 20px;
}

.projectContain {
  text-align: center;
  position: relative;
  top: 15%;
  transform: translateY(-15%);
  width: 80%;
  left: 10%;
  right: -50%;
}
.midPageContain {
  text-align: center;
  position: relative;
  top: 15%;
  transform: translateY(-15%);
}

#profilePicture {
  text-align: center;

}

.midPageItem {
  margin: 10px 10px 10px 10px;
  width: 300px;
  color: #FFF;
  display: inline-block;
}

.projectItem {
  margin: 10px 10px 10px 10px;
  width: 300px;
  color: #FFF;
  display: inline-block;
}

.projectPicture {
  text-align: center;
  width: 290px;
  height: 200px;
  margin-bottom: 10px;
}

.projectItemTitle 
{
  font-family: merriweatherlt;
  padding: 20px 0px 20px 0px;
  font-size: 20px;
  color: grey;
}


.itemTitle 
{
  font-family: oswald;
  text-transform: uppercase;
  padding: 20px 0px 20px 0px;
  color: white;
}

.menu
{
  padding: 20px 0px 20px 20px;
  text-align: right;

    -moz-animation-name: easeUpper;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease;
    -moz-animation-duration: 1.5s;

    -webkit-animation-name: easeUpper;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    -webkit-animation-duration: 1.5s;

    animation-name: easeUpper;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-duration: 1.5s;
}

@-moz-keyframes easeUpper {
    0% {
        -moz-transform: translateY(-50px);
        opacity:0;
    }
    100% {
        -moz-transform: translateY(0);
        opacity:1;
    }
}
@-webkit-keyframes easeUpper {
    0% {
        -webkit-transform: translateY(-50px);
        opacity:0;
    }
    100% {
        -webkit-transform: translateY(0);
        opacity:1;
    }
}
@keyframes easeUpper {
    0% {
        transform: translateY(-50px);
        opacity:0;
    }
    100% {
        transform: translateY(0);
        opacity:1;
    }
}

.menuItem
{
  font-family: oswald;
  font-size: 18px;
  text-transform: uppercase;
  padding: 0px 10px 0px 10px;
  opacity: 1;
  display: inline-block;
}
.menuItem, a {
  text-decoration: none;
  color: white;
}
.menuItem, a:visited {
  color: white;
}
.menuItem, a:hover {
  color: white;
}

#footer {
    font-size: 12px;
    padding: 5px 10px 5px 10px;
    width: 100%;
    color: grey;
}

.sectionTitle {
  padding-top: 10px;
  transform: translateX(10%);
  width: 90%;
  font-family: oswald;
  font-size: 35px;
  text-transform: uppercase;
  color: #E7B909;
  margin-bottom: 40px;
}

.workItem {
    transform: translateX(10%);
  width: 90%;
}

#aboutMeDescription {
  transform: translateX(20%);
  width:70%;
  font-family: merriweather;
  padding: 20px 0px 10px 0px;
  display:inline-block;
}

span.line {
    height: 1.5px;
    width: 80px;
    position: relative;
    top: -5px;
    display: inline-block;
    float: none;
    background: #FFF none repeat scroll 0% 0%;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  }